body {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

.egg, .color-black {
    color: black;
}

#canvas-game {
    display: flex;
    align-content: space-between;
    align-items: center;
}

.main-menu {
    border: 5px solid black;
    width: 600px;
    height: 750px;
    display: flex;
    margin: auto;
}

canvas {
    border: 5px solid black;
    display: flex;
    margin: auto;
}

#types {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 75vh;
    gap: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.type-image {
    background-position: center;
    background-size: cover;
    position: relative;
    width: 75px;
    height: 75px;
}

.number-format {
    display: flex;
    position: absolute;
    top: 25px;
    left: 60px;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#statistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    gap: 50px;
}

.container-format {
    width: 150px;
    height: 150px;
    align-content: space-around;
    border: 5px solid black;
    border-radius: 50%;
}

.margin-top {
    margin-top: 60px;
}

.background {
    background-image: url('/assets/images/background/background.png');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}

.main-screen {
    background-image: url('/assets/images/background/main-screen.jpg');
    background-position: top;
    background-size: cover;
}

.game-over {
    background-image: url('/assets/images/background/gameOver.png');
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 750px;
}

.normal {
    background-image: url('/assets/images/types/normal.png');
}

.fire {
    background-image: url('/assets/images/types/fire.png');
}

.water {
    background-image: url('/assets/images/types/water.png');
}

.electric {
    background-image: url('/assets/images/types/electric.png');
}

.grass {
    background-image: url('/assets/images/types/grass.png');
}

.ice {
    background-image: url('/assets/images/types/ice.png');
}

.fighting {
    background-image: url('/assets/images/types/fighting.png');
}

.poison {
    background-image: url('/assets/images/types/poison.png');
}

.ground {
    background-image: url('/assets/images/types/ground.png');
}

.flying {
    background-image: url('/assets/images/types/flying.png');
}

.psychic {
    background-image: url('/assets/images/types/psychic.png');
}

.bug {
    background-image: url('/assets/images/types/bug.png');
}

.rock {
    background-image: url('/assets/images/types/rock.png');
}

.ghost {
    background-image: url('/assets/images/types/ghost.png');
}

.dragon {
    background-image: url('/assets/images/types/dragon.png');
}

.dark {
    background-image: url('/assets/images/types/dark.png');
}

.steel {
    background-image: url('/assets/images/types/steel.png');
}

.fairy {
    background-image: url('/assets/images/types/fairy.png');
}

.pokeball {
    background-image: url('/assets/images/background/pokeball.png');
    background-position: center;
    background-size: cover;
}