canvas {
    border: 5px solid black;
    display: flex;
    margin: auto;
}

#canvas-game {
    display: flex;
}

#statistics {
    text-align: center;
    background-color: red;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
